<!---->

@model Estructuras_de_Control.Models.ModeloNumeros
<div classs="mx-auto" style="width:40%">
    <!--Controlador y accion--->
    <form asp-controller="SegundoDespues" asp-action="UnSegundo">
        <!--Conjunto de campos-->
        <fieldset class="form-group border p-3">
        <legend style="text-align:center">Horas - Minutos - Segundos</legend>
        <hr/>
        <!--asp-for nombre del modelo,mantiene en el campo e texto el numero digitado-->
        <div class="mb-4">
            <label>Digite horas:</label>
            <input type="number" asp-for="horas" name="horas" min="0" max="23" placeholder="Digite las horas" />
        </div>

        <div class="mb-4">
            <label>Digite minutos:</label>
                <input type="number" asp-for="minutos" name="minutos" min="0" max="55" placeholder="Digite los minutos" />
        </div>

        <div class="mb-4">
            <label>Digite segundos:</label>
                <input type="number" asp-for="segundos" name="segundos" min="0" max="55" placeholder="Digite los segundos" />
        </div>
        <!--Div para centrar el boton-->
        <div style="justify-content:center;display:flex">
            <button type="submit">Un segundo despues</button>
        </div>
        </fieldset>
    </form>
    <div>
        <!--Estructura de control razorpages-->
        @if (ViewBag.Horas >= 0)
        {
            <fieldset class="form-group border p-3">
                <legend style="text-align:center">Un segundo despues</legend>
                <hr />
                <h4>Horas:@ViewBag.Horas</h4>
                <h4>Minutos:@ViewBag.Minutos</h4>
                <h4>Segundos:@ViewBag.Segundos</h4>
            </fieldset>
        }
    </div>
</div>
