@model int
<div class="text-center">
	<h1 class="display-6">Mayor - Menor - tres numeros</h1> <br />
	<form asp-controller="MayorMEnor" asp-action="EncontrarMayorMenor" method="post">
		<label for="primero">Digite primer numero</label>
		<input type="number" name="primero" id="primero" required/><br />
		<label for="segundo">Digite segundo numero</label>
		<input type="number" name="segundo" id="segundo" required/><br />
		<label for="tercero">Digite tercer numero</label>
		<input type="number" name="tercero" id="tercero" required/><br />
		<br />

		<button type="submit" class="btn btn-primary">Mayor/Menor</button>
	</form>
	<br />
	<div>
		<p><h4><i>@ViewBag.Numeros</i></h4></p>
		@if(ViewBag.MayorNumero != null && ViewBag.MayorNumero != null)
		{
			<p><h5>El numero mayor es:@ViewBag.MayorNumero</h5></p>
			<p><h5>El numero menor es:@ViewBag.MenorNumero</h5></p>
		}
	</div>
</div>