@page
@model Ejemplo_ASP_NET_Core_vacio.Pages.IndexModel
@{
	// ViewData permite transferir datos a la vista
	ViewData["Title"] = "Pagina Index";
}
<div class="text-center">
	<h1 class="display-4">Bienvenido</h1>
	<p>Creacion de una primera aplicacion Web con ASP.NET Core.</p>
</div>
