@page
@model Ejemplo_Aplicacion_Web_Core.Pages.SaludoModel
@{
	ViewData["Title"] = "Pagina Idex";
}
<div class="text-center">
	<h1 class="display-4">Bienvenido</h1>
	<p>Creacion de una primera aplicacion Web con ASP.NET Core</p>
</div>
